@import "tailwindcss";

:root {
  color-scheme: light dark;
}

#root {
  width: 100%;
  min-height: 100svh;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
